/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
/* @import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css'); */
@import url('./footer.css');

.block-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.box-link {
  display: block;
  width: 140px;
  line-height: 60px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.box-link:first-child {
  background-color: orangered;
}

.box-link:last-child {
  background-color: blue;
}
